<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipes</title>
</head>
<body>
  <h1>Edit <%= @recipe.name %></h1>
  <form action="/recipes/<%= @recipe.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="name">Name: </label>
    <input type="text" name="name" placeholder="<%= @recipe.name %>">
    <label for="cook_time">Cook Time: </label>
    <input type="text" name="cook_time" placeholder="<%= @recipe.cook_time %>">
    <label for="ingredients">Ingredients: </label>
    <input type="text" name="ingredients" placeholder="<%= @recipe.ingredients %>">
    <input type="submit" value="submit">
  </form>
</body>
</html>