<h2>Edit Recipe</h2>
<p>Recipe: <%= @recipe.name %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time %> minutes</p>
<br>
<form action="/recipes/<%= @recipe.id %>" method="POST">
	<label>Name: </label><input type="text" value="<%= @recipe.name %>" name="name">
	<label>Ingredients: </label><input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
	<label>Cook Time: </label><input type="text" name="cook_time" value="<%= @recipe.cook_time %>">
	<input type="submit" value="submit">
</form>