<h1>Recipe</h1>
<p><%= @recipe.name %></p>
<p><%= @recipe.ingredients %></p>
<p>Cook time: <%= @recipe.cook_time %> minutes</p>
<a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a>

<form class="" action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="submit" value="delete">
</form>
