<h1><%= @recipe.name %></h1>

<h2>Ingredients: <%= @recipe.ingredients %></h2>
<h2>Cook Time: <%= @recipe.cook_time %></h2>

<form action="/recipes/<%=@recipe.id%>/edit" method="get">
  <input type="submit" value="Edit">
</form>

<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
