<h1>Edit <%= @recipe.name%> Recipe</h1>
<form method="POST" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <%= @recipe.name%><input type="text" name="name" placeholder="recipe name">
  <%= @recipe.ingredients%><input type="text" name="ingredients" placeholder="ingredients">
  <%= @recipe.cook_time%><input type="text" name="cook_time" placeholder="cook time">
  <input type="submit" name="submit" value="submit">
</form>