<h1><%=@recipe.name%> Recipe</h1>

<form action="/recipes/<%=@recipe.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <label for="name">Name: </label>
    <input id="name" name="name" type="text" value="<%=@recipe.name%>">
  </p>
  <p>
    <label for="ingredients">Ingredients: </label>
    <input id="ingredients" name="ingredients" type="text" value="<%=@recipe.ingredients%>">
  </p>
  <p>
    <label for="cook_time">Cook Time: </label>
    <input id="cook_time" name="cook_time" type="text" value="<%=@recipe.cook_time%>">
  </p>
  <input type="submit" value="submit">
</form>
