<form action="/recipes/<%=@recipe.id%>/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Recipe Name:</label>
  <input type="text" name="name" value="<%=@recipe.name%>">


  <label for="cook_time">Cook Time:</label>
  <input type="text" name="cook_time" value="<%=@recipe.cook_time%>">

  <label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients" value="<%=@recipe.ingredients%>">

  <input type="submit" name="" value="submit">
</form>

<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id='hidden' type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Recipe">
</form>
