<!DOCTYPE html>
<html>
<head>
<title>Edit Recipe Form</title>
</head>
<body>
<h1>Here is The Selected Recipe</h1>
<h2>Recipe No. <%= @recipe.id %></h2>
    <p>Recipe Name: <%= @recipe.name %></p>
    <p>Ingredients: <%= @recipe.ingredients %></p>
    <p>Cook Time: <%= @recipe.cook_time %></p>

<h1>Enter Your Updated Recipe Info Here: for Recipe No. <%= @recipe.id %></h1>
<form method="POST" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>New Recipe Name: <input type="text" name="name"></p>
    <p>New Recipe Ingredients: <input type="text" name="ingredients"></p>
    <p>New Recipe Cook Time: <input type="text" name="cook_time"></p>
    <input type="submit" value="Submit yo recipe">
</form>
</body>
</html>