<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name<input type="text" value="<%= @recipe.name%>" name ="name">
  Ingredients<input type="text" name="ingredients">
  Cook Time<input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>