<h1>Recipe</h1>
<p>Name: <%= @recipe.name %></p><br>
<p>Ingredients: <%= @recipe.ingredients %></p><br>
<p>Cooking time: <%= @recipe.cook_time %></p>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <!-- In order to pass test 18, the line above uses <%= @recipe.id %>, instead of the model of "/posts/:id", as shown in https://learn.co/tracks/full-stack-web-development/sinatra/activerecord/sinatra-restful-routes . Check solution file.-->
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" name="name">
  Ingredients: <input type="text" name="ingredients">
  Cooking time: <input type="text" name="cook_time">
  <input type="submit" value="submit">
</form>

<!-- The official solution consolidates all of the above into a single form. -->
