<body>
  <p><%= @recipe.id %></p>
  <p><%= @recipe.name %></p>
  <p><%= @recipe.ingredients %></p>
  <p><%= @recipe.cook_time %></p>
  <form method="post" action="/recipes/<%=@recipe.id%>}">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="name">
    <input type="text" name="ingredients">
    <input type="text" name="cook_time">
    <input type="submit" value="Update">
  </form>
</body>
