<h1>Edit <%="#{@recipe.name}"%></h1>
<form method="post" action="/recipes/<%= @recipe.id %>">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Name of recipe: </label>
  <input type="text" name="name" id="name" value="<%= @recipe.name %>">
  <label for="ingredients">List ingredients: </label>
  <input type="text" name="ingredients" id="ingredients" value="<%= @recipe.ingredients %>">
  <label for="cook_time">Cook time: </label>
  <input type="text" name="cook_time" id="cook_time" value="<%= @recipe.cook_time %>">
  <input type="submit" value="Submit" id="submit">
</form>
