<h1>Edit <%= @recipe.name %></h1>
<form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="<%= @recipe.name %>"><br />
  <label for="ingredients">Ingredients:</label>
  <input type="text" name="ingredients" id="ingredients" placeholder="<%= @recipe.ingredients %>"><br />
  <label for="cook_time">Cook Time:</label>
  <input type="text" name="cook_time" id="cook_time" placeholder="<%= @recipe.cook_time %>"><br />
  <button type="submit" value="Submit" id="submit">Submit</button>
</form>
