<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Your Recipe</title>
  </head>
  <body>
    <h1>Recipe <%= @recipe.id %>:</h1>
    <h3>Name: <%= @recipe.name %></h3>
    <h3>Ingredients: <%= @recipe.ingredients %></h3>
    <h3>Cook Time: <%= @recipe.cook_time %></h3>

    <h1>Edit the Recipe:</h1>
    <form action = "/recipes/<%= @recipe.id %>" method = "post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for = "name">Name:</label>
      <input type = "text" name = "name"><br><br>
      <label for = "ingredients">Ingredients:</label>
      <input type = "text" name = "ingredients"><br><br>
      <label for = "cook_time">Cook Time:</label>
      <input type = "text" name = "cook_time"><br><br>
      <input type = "submit" value = "submit">
    </form>
  </body>
</html>
