<!DOCTYPE html>
<html>
<head>
  <title>Editing a Recipe</title>
</head>
<body>
  <h1> Editing Recipe #<%= @recipe.id%> </h1>
  <form action="/recipes/<%= @recipe.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Edit Name: <input type="text" name="name" value="<%= @recipe.name %>"</p>
    <p>Edit Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>"</p>
    <p>Edit Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"</p>
    <p><input type="submit" name="submit" value="submit"</p>
  </form>
</body>
</html>