<% @recipes.each do |recipe| %>
    <%= recipe.name %>
    <%= recipe.ingredients %>
    <%= recipe.cook_time%>
    <a href="/recipes/<%= recipe.id% >"></a>
    <a href="/recipes/<%= recipe.id% >/delete"></a>
<% end %>
