Here's a list of all the recipes:

<%@recipes.each do |recipe|%>
<a href="/recipes/<%=recipe.id%>"><%=recipe.id%></a>
<h2>Recipe Name: <%=recipe.name%></h2>
<h2>Recipe Ingredients: <%=recipe.ingredients%></h2>
<h2>Cook time: <%=recipe.cook_time%></h2>
<%end%>
