<h1>Recipe App</h1>
<a href="/recipes/new">Add a new recipe</a>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Ingredients</th>
      <th>Cook Time</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
	<% @recipes.each do |recipe| %>
		<tr>
		  <td><%= recipe.id %></a></td>
		  <td><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></td>
		  <td><%= recipe.ingredients %></td>
		  <td><%= recipe.cook_time %></td>
		  <td>
		    <a href="/recipes/<%= recipe.id %>/edit">Edit</a>
		  </td>
		  <td>
		    <form action="/recipes/<%= recipe.id%>/delete" method="post">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" name="delete" value="Delete">
			</form>
		  </td>
		</tr>
	<% end %>
	</tbody>
</table>
