<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>All Recipes</h1>

    <% @recipes.each do |r| %>
      <h3><%=r.id%> Name:  <%= r.name %></h3>
      <p><h4>Ingredients:<%= r.ingredients %></h4></p>
      <p><h4>Cooking time:<%= r.cook_time %></h4></p>
      <a href="/recipes/<%=r.id %>">Show it</a>
      <br>
    <%end %>

  </body>
</html>
