<h1>Recipe Number <%= @recipe.id %></h1>

<p><%= @recipe.name %></p>
<p>Ingredients: <%= @recipe.ingredients %></p>
<% if @recipe.cook_time %>
  <p>Cook Time: <%= @recipe.cook_time %></p>
<% end %>


<form action="/recipes/<%= @recipe.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <a href="/recipes/<%= @recipe.id %>/delete"><button>delete</button></a>
</form>