<!DOCTYPE html>
<html>
  <head>
    <title>
      Recipes Index
    </title>
  </head>
  <body>
    <h1>Thank you for viewing recipe <%= @recipe.id %></h1>
    <h2><%= @recipe.name %></h2>
    <ul>
      <li>Ingredients: <%= @recipe.ingredients %></li>
      <li>Cook Time: <%= @recipe.cook_time %> minutes</li>
    </ul>
    <form action='/recipes/<%= @recipe.id %>/delete' method='POST'>
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
    <form action='/recipes/<%= @recipe.id %>/edit' method='GET'>
      <input type="submit" value="edit">
    </form>
    <p><a href='/recipes'>Back to Recipe Index</a></p>
  </body>
</html>
