<h1>All Recipes!</h1>

<% @recipes.each do |recipe| %>
	<h2><%=recipe.name%></h2>
	<p>Ingredients: <%=recipe.ingredients%></p>
	<p>Cook time:<%=recipe.cook_time%> minutes</p>
	<a href="/recipes/<%= recipe.id %>">Recipe Page</a>
	<form method="post" action="/recipes/<%= recipe.id %>/delete"
		<input id="hidden" type="hidden" name="_method" value="delete">
		<input type="submit" value="delete">
	</form>

<%end%>