<%= @recipe.name %>
<%= @recipe.ingredients %>
<%= @recipe.cook_time %>
<a href="/recipes/<%=@recipe.id%>/delete">delete</a>

<form method="post" action="/recipes/<%=@recipe.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">

</form>