<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @recipe.name %></title>
  </head>
  <body>
    <h1><%= @recipe.name %></h1>
    <ul>
      <li><%= @recipe.ingredients %></li>
      <li><%= @recipe.cook_time %></li>
    </ul>

    <form action="/recipes/<%= @recipe.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" name="submit" value="delete">
    </form>
  </body>
</html>
