<h1><%=@recipe.name%></h1>

<h3>Ingredients: </h3>
<%@ingredients.each do |item|%>
<ul>
  <li><%=item%></li>
</ul>
<%end%>
<p><%=@recipe.ingredients%></p>
<h3>Cook Time: <%=@recipe.cook_time%> minutes</h3>

<p><a href="/recipes/<%=@recipe.id%>/edit">Edit Recipe</a></p>

<form method="post" action="/recipes/<%=@recipe.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input id="delete" type="submit" value="Delete Recipe">
</form>
