
<p>

Name: <%= @recipe.name %><br>
Ingredients: <%= @recipe.ingredients %><br>
Cook Time: <%= @recipe.cook_time %><br>

 <form action="/recipes/<%= @recipe.id %>/delete" method="POST">
 	<input id="hidden" type="hidden" name="_method" value="delete">
 	<input type="submit" value="delete">
 </form> 

 <form action="/recipes/<%= @recipe.id %>/edit" method="POST">
 	 	<input id="hidden" type="hidden" name="_method" value="edit">
	<input type="submit" value="edit">
 </form> 
<!-- <a href="/recipes/<%= @recipe.id %>/edit">EDIT</a> -->
</p>
