<h1>Recipes </h1>
<p><%= @recipes.id %><%= @recipes.name %><%= @recipes.ingredients %><%= @recipes.cook_time %></p>
   <input id="hidden" type="hidden" name="_method" value="delete">
	<a href="/recipes/<%= @recipes.id %>/delete">Delete</a>
