<h1> <%= @recipe.name %></h1>
<h1> <%= @recipe.ingredients %></h1>
<h1> <%= @recipe.cook_time %> minutes </h1>
<a href="/recipes/<%= @recipe.id %>/delete"></a>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
