<h1><%= @recipe.name %></h1>
<ul><%= @recipe.ingredients %></ul>
<ul><%= @recipe.cook_time %></ul>
<a href='/recipes/<%= @recipe.id %>/delete'>Delete Recipe</a>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
