<h1><%= @recipe.name%></h1>
<h3><%= @recipe.ingredients %></h3>
<h3><%= @recipe.cook_time %></h3>

<a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a><br>
<a href="/recipes">Recipes</a>
<form action="/recipes/<%=@recipe.id%>/delete" method="post">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" name="submit" value="delete">
</form>
