show single recipe by id


<%=@recipe.name%><br>
<%=@recipe.ingredients%><br>
<%=@recipe.cook_time%><br>

<a href="/recipes/<%=@recipe.id%>/delete">Delete: <%=@recipe.name%></a>

<form action="/recipes/<%=@recipe.id%>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="delete">
</form>
