<h1><%= @recipe.name %></h1>
<p><b>Ingredients:</b> <%= @recipe.ingredients %></p>
<p><b>Cook Time:</b> <%= @recipe.cook_time %></p>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

<p><a href="/recipes/<%= @recipe.id %>/edit">Edit</a></p>
<p><a href="/recipes">All Recipes</a></p>