<h3>Recipe for <%=@recipe.name%></h3>
  <p>Ingredients: <%=@recipe.ingredients%></p>
  <p>Cook time: <%=@recipe.cook_time%>
  <a href="/recipes/<%=@recipe.id%>/delete">delete</a>
  <form action='/recipes/<%=@recipe.id%>/delete' method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="text" name="name" placeholder="Name:">
    <input type="text" name="ingredients" placeholder="Ingredients:">
    <input type="text" name="cook_time" placeholder="Cook_time:">
    <input type="submit" value="delete">
  </form>
