<h2> Your Recipe is:   <%=@recipe.name%> </h2>


<!-- <h2> Name:   <%=@recipe.name%></br></h2> -->
<label> Ingredients: <%=@recipe.ingredients%></br></label></br>
<label> Cooking Time: <%=@recipe.cook_time%> minutes </label>

<form action= "/recipes/<%= @recipe.id%>/delete" method = "post">
  <input id="hidden" type="hidden" name="_method" value="delete"></br>
  <label> Select to Delete This Recipe: <input type="submit" value= "delete"></label></br></br>

  <label> To edit this Recipe select <a href= "/recipes"> Edit</a>
</form>
