<h1><%= @recipe.name %></h1>
<h2>Cook time: <%= @recipe.cook_time %> minutes</h2>
<h2>Ingredients: <%= @recipe.ingredients %></h2>
<!-- <ul>
<%
  ingredients = []
  ingredients = @recipe.ingredients.split(",")
  ingredients.each do |ingredient|
%>
  <li><%= ingredient.strip %></li>
<% end %>
</ul> -->
<form method="POST" action="/recipes/<%= @recipe.id %>">
   <input type="hidden" id="hidden" name="_method" value="DELETE">
   <input type="submit" name="delete" value="Delete">
</form>
