<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
  </head>
  <body>
    <h1>Show Recipe: <%= @recipe.name %></h1>
    <h3>Recipe Ingredients: <%= @recipe.ingredients %></h3>
    <h3>Recipe Cook Time: <%= @recipe.cook_time %> minutes</h3>
    <a href="/recipes/<%= @recipe.id %>/delete"></a>

    <form method="post" action="/recipes/<%= @recipe.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="delete">
    </form>
  </body>
</html>
