
<h1><%= @recipe.name %></h1>
<h2><%= @recipe.ingredients %></h2>
<h2><%= @recipe.cook_time %></h2>

<a href="/recipes/<%= @recipe.id %>/edit">Edit</a>

<p>
<form action="/recipes/<%= @recipe.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Recipe">
</p>
