<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SHOW</title>
  </head>
  <body>
    <% if @recipe %>
      <p>Name: <%= @recipe.name %></p>
      <p>Ingredients: <%= @recipe.ingredients %></p>
      <p>Cook time: <%= @recipe.cook_time %></p>

      <form method="post" action="/recipes/<%= @recipe.id %>/delete">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input id="deleted" type="hidden" name="deleted" value="<%= @recipe.name %>">
        <input type="submit" value="delete">
      </form>
    <% end %>
  </body>
</html>
