<h1><%= @recipe.name %></h1>
<h2><%= @recipe.ingredients %></h2>
<p><%= @recipe.cook_time%> minutes</p>
<form action="/recipes/<%=@recipe.id%>/edit" method="get">
  <input type="submit" value="edit">
</form>
<form action="/recipes/<%=@recipe.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
