<a href="/recipes">home</a>
<h1><%= @recipe.name %></h1>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Cook Time: <%= @recipe.cook_time %></p>
<form action="/recipes/<%= @recipe.id %>/edit">
	<input type="submit" value="edit">
</form>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<input type="submit" value="delete">
</form>