<form action="/recipes/<%=@recipe.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<%=@recipe.name%>
<%=@recipe.ingredients%>
<%=@recipe.cook_time%>
<a href="/recipes/<%=@recipe.id%>/delete"><input type="button" value="delete" onclick()="submit;"/></a>
<br>
</form>
