
Recipe Name: <%= @recipe.name %>
Recipe Ingredients <%= @recipe.ingredients %>
It will take <%= @recipe.cook_time %> to cook this bad boy!

<input id="hidden" type="hidden" name="_method" value="delete">
<a href='/recipes/<%= @recipe.id %>/delete'>Delete Recipe</a>
<form method='post' action='/recipes/<%= @recipe.id %>/delete'>
  <input type="submit" value="delete">
</form>
