<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>

Name: <%=@recipe.name%>
Ingredients: <%=@recipe.ingredients%>
Cook Time: <%=@recipe.cook_time%>
Delete this Recipe: <a href="/recipes/<%=@recipe.id%>/delete"> </a>
