<h1>Show</h1>
<p><%= @recipe.id %><%= @recipe.name %><%= @recipe.ingredients %><%= @recipe.cook_time %></p>
    <a href="/recipes/<%= @recipe.id %>/delete">delete</a>

	<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  		<input id="hidden" type="hidden" name="_method" value="delete">
  		<input type="submit" value="delete">
	</form>
