<p>Name: <%= @recipe.id %><%= @recipe.name %><br>
<p>Ingredients: <%= @recipe.ingredients %><br>
<p>Cook Time: <%= @recipe.cook_time %><br>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
