<h1>Recipes </h1>
<p><%= @recipe.id %><%= @recipe.name %><%= @recipe.ingredients %><%= @recipe.cook_time %></p>
   <input id="hidden" type="hidden" name="_method" value="delete">
	<a href="/recipes/<%= @recipes.id %>/delete">Delete</a>
