<h1><%= @recipe.name %></h1>

<h3>Ingredients: <%= @recipe.ingredients %></h3>

<h3>Cook Time: <%= @recipe.cook_time %></h3>

<p>
  <form class="edit" action="/recipes/<%= @recipe.id %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>

  <form action="/recipes/<%= @recipe.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="delete">
  </form>
</p>
