<h2>Recipe Name: <%= "#{@recipe.name}" %></h2>
<h2>Recipe Ingredients: <%= "#{@recipe.ingredients}" %></h2>
<h2>Recipe Cook Time: <%= "#{@recipe.cook_time}" %></h2>
<h2>URL: <%= "/recipes/#{@recipe.id}" %></h2>


<h2>Delete URL: <%= "/recipes/#{@recipe.id}/delete" %></h2>
<form action="/recipes/<%=@recipe.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>