<h1>You just entered: </h1>
<p> RecipeName: <%=@recipe.name%></p>
<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Cook Time: <%=@recipe.cook_time.to_s%></p><br>

<h2>Click <a href="/recipes"here</a> to see all the recipes</h2>
<a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a><br><br>

<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
